.flexbox-container{
    display: flex; /* makes side by side. Column stacks them*/
    justify-content: space-evenly;
    /*align-items: flex-end;*/
    align-items: center;
}

.flexbox-item{
    width: 200px;
    margin: 110px;
    border: 3px solid;
    background-color: aqua;
}
.item1{
    min-height: 100px;
    flex-shrink: 0; /* if set to 0, no matter what a screen does it wont shrink"*/

}

.item2{
    min-height: 200px;
    flex-grow: 1 ;
    
}
.item3{
    min-height: 300px;
    flex-grow: 2;
    
}