button:hover{
    font-size: 1.1em;
    background-color: rgb(35, 57, 255);
}

button:active{
    font-size: 1.1em;
    background-color: rgb(244, 255, 41);
}

a:link{
    color: lightblue;
    font-size: 1.1em;
}

a:visited{
    color: darkblue;
    font-size: 2em;
}

a:visited{
    color:purple;
    font-size: 1.1em;
}

li:hover{
    font-size: 1.1em;
    color: coral;
}

li:nth-child(1){
    background-color: red;
}